
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Forum&family=Gotu&family=IBM+Plex+Sans:wght@600;700&family=Kumbh+Sans:wght@400;500;600;700;800&family=Laila&family=Lexend:wght@700&family=Marcellus&family=Noto+Sans:wght@400;700&family=Poppins:wght@500;700&display=swap');



.navbar-brand{
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: xx-large;
    color: darkgreen;
}
  
.nav-item{
    font-family: 'Poppins', sans-serif;
    font-weight:lighter;
    font-size: medium;

}



.tips__sectionencabezado{
    margin-bottom: 30px;
       
   }
   
   
   
   .tips__div1{
       width: 100%;
       height: 100px;
       margin-top: 0px;
     
   }
   
   .tips__img{
       width: 100%;
       height: 470px;
       object-fit: cover;
   }
   
   .tips__h1{
       margin-top: -350px;
       text-align: center;
       display: block;
       color: white;
       font-family:'Poppins', sans-serif ;
       font-weight: 100;
       font-size: 55px;
       width: 500px;
       margin-left: 650px;
       cursor: pointer;
   }


.tips__p{
    color: white;
    width: 600px;
    margin-left: 600px;
    text-align: center;
    margin-top: 30px;
font-weight: 500;

  

}





.section2{
    margin-top: 430px;
    height: 500px;
    width: 1400px;
    align-items: center;
    margin-left: 250px;
}

.card-title{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}
  

.card-text{
    text-align: center;
}


.section3{
    margin-top: 350px;
    margin-left: 250px;
}

.card-title_h5{
   text-align: center;
}


.grid{
    width: 1300px;
    height: 900px;
    max-height: 900px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
   position: relative;
   margin-left: 400px;
   
}

.foto{
    height: 400px;
    width: 200px;
    color: black;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
   
    justify-content: center;
    transition: .1s;
    cursor: pointer;
   object-fit: contain;
 
}

.foto:hover .foto__botongrid{
display: block;


}

.foto__botongrid{
 height: 80px;
border: none;
text-decoration: none;
padding: 2px 2px;
    
  
font-family:'Poppins', sans-serif;
font-size: 13;
  
color: rgb(0, 0, 0);
  
display: none;
cursor: pointer;


}



.foto1{
background-image: url(./imagenes/3.jpg);
    
}
   
.foto2{
background-image: url(./imagenes/4.jpg);

}
.foto3{
background-image: url(./imagenes/11.jpg);

}
.foto4{
background-image: url(./imagenes/15.jpg);

}
.foto5{
background-image: url(./imagenes/7.jpg);

}
.foto6{
background-image: url(./imagenes/14.jpg);

}
.foto7{
background-image: url(./imagenes/9.jpg);
}

.foto8{
background-image: url(./imagenes/17.jpg);

}

.foto9{
background-image: url(./imagenes/18.jpg);


}

.tituloplantas{
    font-family:'Poppins', sans-serif;
margin-top: 50px;
margin-left: 650px;
font-size: 35px;

}

.conocelasaqui{
    font-family:'Poppins', sans-serif;
margin-left: 830px;
font-size: 25px;
color: gray;
}


 
}